@import "../../styles/config";

$wholePage: 100vh;

.stripe-container,
.stripe-container--light {
  position: relative;
  display: flex;
  overflow: hidden;

  padding-top: $navbar-height;
  padding-bottom: 10px;

  width: 100vw;
  min-height: 100vh;

  justify-content: center;
  align-items: flex-start;

  animation: fadeInAnimation ease 1s;

  &::after {
    position: fixed;
    top: 200px;

    content: '';

    width: 300vw;
    height: 200px;

    background-color: $color-active-link;

    transform-origin: 50% 50%;
    transform: rotate(-25deg);

    @media (min-width: $min-tablet) {
      top: 300px;

      height: 300px;
    }

    @media (min-width: $min-desktop) {
      top: 400px;

      height: 400px;
    }
  }
}

.stripe-container {
  &::after {
    opacity: .7;
  }
}

.stripe-container--light {
  &::after {
    opacity: .4;
  }
}
