@import "../../../styles/config";

.segment {
  display: flex;

  width: 100%;

  justify-content: center;
}

.segment__item {
  display: flex;

  margin: 1% 1%;

  width: 30%;
  height: 20vw;

  border: 1px solid $color-black;
}

.segment__photo {
  width: 100%;
}
