@import "../../styles/config";

.offer {
  position: relative;
  z-index: 10;

  display: flex;

  width: 100vw;

  flex-direction: column;
  align-items: center;

  animation: fadeInAnimation ease 1s;
}

.offer__segments {
  display: flex;

  margin-top: 15px;

  width: 100vw;

  flex-direction: column;
  align-items: center;
}

.offer__loader {
  position: fixed;
  z-index: 20;

  top: 30%;
}

.offer__common,
.offer__terms {
  @include rf(15, 26);

  padding: 0 15px;

  text-align: center;
  line-height: 1.8;

  font-weight: 500;

  @media (min-width: $min-tablet) {
    padding: 0 50px;

  }
}

.offer__paragraph {
  margin-bottom: 10px;
}

.offer__terms {
  margin-top: 30px;

  @media (min-width: $min-tablet) {
    margin-top: 50px;
  }
}

.offer__terms-link {
  text-decoration: none;
  color: $color-black;
}

.offer__separator {
  width: 50%;
  border-top: 2px solid rgba(0, 0, 0, .4);
}
