@import "../../styles/config";

.navbar {
  display: flex;

  top: 0;
  left: 0;

  align-items: center;

  width: 100vw;
  height: 70px;

  background: $color-menu;
}

.navbar__logo-wrapper {
  margin-left: 15px;

  width: 130px;
  min-width: 130px;

  color: $color-white;
}

.navbar__toggle-button {
  margin-left: auto;

  width: 20px;

  cursor: pointer;
  transition: $transition-leave;
  &:hover {
    opacity: .5;
    transition: $transition-enter;
  }
}
