@import "../../styles/config";

$wholePage: 100vh;

.gallery {
  position: relative;
  display: flex;
  overflow: hidden;

  padding-top: $navbar-height;
  padding-bottom: 10px;

  width: 100vw;
  min-height: calc(#{$wholePage} - #{$footer-height-mobile});

  justify-content: center;
  align-items: flex-start;

  animation: fadeInAnimation ease 1s;

  @media (min-width: $min-desktop) {
    min-height: calc(#{$wholePage} - #{$footer-height-desktop} - 20px);
  }

  &::after {
    position: absolute;
    top: 200px;

    content: '';

    width: 300vw;
    height: 200px;
    opacity: .7;

    background-color: $color-active-link;

    transform-origin: 50% 50%;
    transform: rotate(-25deg);

    @media (min-width: $min-tablet) {
      top: 300px;

      height: 300px;
    }

    @media (min-width: $min-desktop) {
      top: 400px;

      height: 400px;
    }
  }
}

.gallery__wrapper {
  position: relative;
  z-index: 10;

  display: flex;

  width: 100vw;

  flex-direction: column;
  align-items: center;
}

.gallery__images {
  display: flex;

  margin-top: 15px;

  width: 100vw;

  justify-content: center;
}

.gallery__loader {
  position: fixed;
  z-index: 20;

  top: 30%;
}

.gallery__images-wrapper {
  display: flex;

  width: 80vw;

  flex-wrap: wrap;
  justify-content: space-around;

}

.gallery__image-wrapper {
  display: block;

  margin-bottom: 5%;

  width: 45%;

  box-shadow: 0 0 10px 1px $color-black;
  border: 1px solid $color-black;
  border-radius: 2px;

  opacity: 0;

  &.visible {
    opacity: 1;
    transition: 500ms;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 2%;

    width: 31%;
  }

}


